<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Burger Finder</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>

	<header>
		<nav>
			<div class="nav-wrapper">
				<h6 class="black-text"><strong>BurgerFinder</strong></h6>
			</div>
		</nav>
	</header>

	<div class="banner">
		<img src="../img/banner_home.png" alt="banner-home" class="responsive-img">
	</div>

	<!-- lista hamburguesas -->
	<section id="mainContainer" class="container">
		<p><span><strong>Nearby </strong></span> Burger Joints</p>
		<div id="mainRow" class="row">

		</div>
	</section>





	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
	<script src="../js/app-functions.js"></script>
	<script src="../js/app-home.js"></script>
</body>

</html>
