@import "variables";
@import "mixin";

.splash {
	background-color: $color-yellow;
}

.logo-splash{
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(50%);
		-ms-transform: translateY(50%);
		-webkit-transform: translateY(50%);
}

nav {
	background-color: $color-yellow;
	display: flex;
	align-items: center;
}

.banner {
	background-color: $color-yellow;
	max-width: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	display: flex;
	justify-content: center;
}

.map {
	width: 100%;
	height: 30vh;
	position: relative;
	&__span{
		border-radius: 2rem;
		-moz-border-radius: 2rem;
		-webkit-border-radius: 2rem;
		border: 2px solid #000000 ;
		top: 50%;
		left: 50%;
		width: 5rem;
		background-color: $color-yellow;
		&--img{
			width: 2rem;
		}
	}
}

.btn {
	background-color: $color-yellow;
	color: #000;
	border-radius: 5%;
	display: flex;
	align-items: center;
}